
body{
    margin:0;
    background-color: #0B0F14;
    color: white;
}
#container{
    display: flex;
   flex-direction: column;
    height: 100vh;
}
#containerInput{
   
    text-align: center;
    align-content: center;
   margin-top: 15px;
     Height: 150px;
     background-color:#161C24 ;
     align-self: center;
     border-radius: 12px;
}
#header{
    height:80px;
    text-align: center;
   margin-bottom: 10px;
   align-content: center;
   font-size: 35px;
   color:#E8EAED;
   border-bottom: 1px solid #1E2530;
}
#outputContainer{
   
    display: flex;
    flex:1;

    flex-direction: column;
     text-align:center;
   justify-content: flex-start;
    align-items: center;
}

#input{
    width:300px;
    font-size: 15px;
    height: 30px;
    border-radius: 12px;
    margin-left: 15px;
     background-color:#0B0F14 ;
    color: white;
    text-align: center;
}
#search{
    margin-left:25px;
    height: 30px;
    margin-right: 15px;
   
     transition: transform 0.2s ease;
}
#search:hover{
    cursor:pointer;
    transform: scale(1.05)
}

#output{
  
   margin-top: 50px;
     min-height: 225px;
     width: 500px;
     justify-content: center;
     align-items: center;
     
}

.outputResult{
       border-radius: 12px;;
       background-color: #161C24;
       border: 1px solid #1E2530;
}

.hot{
    color: #EF9F27;
}
.cold{
    color: #378ADD;
}
.windSpeed{
    color:#378ADD;
}

.loading{
    color: gray;
    margin-top: 95px;
    font-size: 20px;
    
   
}

.error{
    color:#E24B4A;
     margin-top: 95px;
    font-size: 20px;
}
.humidity{
    color:#5DCAA5;
}

#cityName{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
}

.Data{
    margin-bottom: 10px ;
    font-size: 20px;
}
.thunder{
    color: #7F77DD;
}
#search{
    height: 30px;
    border-radius: 12px;
    background-color:#0B0F14 ;
    color: white;
}
.sunVisible{
color:#EF9F27;
}
.rain{
color:#378ADD;
}
.snow{
color:#B5D4F4;
}
.cloudy{
 color: #888780;
}
.Fog{
    color:#9AA5B1;
}
#weekly{
    display:flex;
   min-height: 130px;
   margin-top: 50px;
   border-radius: 12px;
   
    align-self: stretch;
}

.weeklyCard{

   
    min-width: 25px;
    flex:1;
    display:flex;
    flex-direction: column;
     border: 1px solid #1E2530;
   


}
#WeeklyBtn{
    margin-bottom: 10px;
    border-radius: 12px;
    height:35px;
     background-color:#0B0F14 ;
    color: white;
}

#WeeklyBtn:hover{
       cursor:pointer;
    transform: scale(1.05)
}

.weeklyError{
    justify-content: center;
 align-items: center;
 font-size: 25px;
  color:#E24B4A;
   
}


.day{
    color: #9AA5B1;
 font-size: 20px;
 margin-top: 5px;
 margin-bottom: 5px;
}

.loadingState{
    justify-content: center;
 align-items: center;
 font-size: 25px;
 color: gray;
 
}
.WeeklyData{
    font-size: 17px;
 margin-bottom: 5px;
}
.resultWeekly{
   background-color: #161C24;
       border: 1px solid #1E2530;
       border-radius: 12px;
       margin-left: 5px;
       margin-right: 5px;
      
}
#footer{
    height: 70px;
    display: flex;
    flex-direction: column;
   background-color: #161C24;
   color:#9AA5B1;
   border-top: 1px solid #1E2530;
   text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
   
}
a{
    color: #378ADD;
}
.footerText{
    margin-bottom: 5px;
}